*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    overflow: auto;
}

html, body{
    height: 100%;
    overflow-y: scroll;

}

::-webkit-scrollbar{
    display: none;
}

body {
    /* background: #1900d2; */
    /* https://images.unsplash.com/photo-1514632595-4944383f2737?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80 */
    /* https://images.unsplash.com/photo-1555588746-13edde80e4a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80 */
    background-image: url(https://images.unsplash.com/photo-1489515217757-5fd1be406fef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

nav.navbar {
    width: 100vw;
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}
.main-nav {
    list-style-type: none;
    display: none;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}

.nav-links, .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 1rem auto;
}

.logo {
    display: inline-block;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-left: 1rem;
}

.active{
    display: block;
}

/* search bar's design */

section.search-box-wrap {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 2rem;
}

input {
    text-align: center;
    width: 50%;
    border: none;
    outline: none;
    height: 2.5rem;
    border-radius: 16px 0 0 0;
}

button {
    border: none;
    outline: none;
    width: 2.5rem;
    border-radius: 0 0 16px 0;
    cursor: pointer;
}



/* search bar at media query */

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/* main.container{
    margin-top: 2rem;
} */

.display-none{
    display: none;
}

div.fess{
    height: 25%;
    width: 30%;
    margin: 1.66%;
    background: green;
    float: left;
}

section.current-weather,
section.main-weather-details,
section.next-weather-details{
    display: flex;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    flex-flow: column;
    margin: 2rem 1rem;
    border-radius: .5rem;
    padding: 1rem;
    line-height: 2rem;
    font-weight: 700;
}

section.current-weather{
    line-height: normal;
    justify-content: center;
}
.city{
    font-size: 2rem;
}

time{
    font-size: 1rem;
    font-weight: normal;
}

.icon-temp{
    display: flex;
    justify-content: space-between;
}

.icon{
    font-size: 3rem;
}

.temperature{
    font-size: 3.5rem;
    font-weight: 600;
}

.feel-description{
    display: flex;
    justify-content: space-between;
}






/* @media screen and (min-width: 630px){

    main > section{
        width: 40%;
        float: left;
    }



} */